<header class="header conteneur">
  <div class="header__titresContainer">
    <h1 class="header__titre" style="background-image: url('./assets/bgTitle.png');">
      Gabriel Chouinard Létourneau
      <span class="header__titrePoste">/ Développeur Web</span>

    </h1>
    <p class="header__titreMask">
      Gabriel Chouinard Létourneau
      <span class="header__titrePoste">/ Développeur Web</span>
    </p>
  </div>
  <a href="https://www.linkedin.com/in/gabriel-chouinard-l%C3%A9tourneau-b35847149/" target="_blank"
    rel="noreferrer noopener" class="header__links">
    <img src="assets/linkedIn.png" alt="LinkedIn's icon" />
  </a>

  <a href="https://github.com/GabrielChouinardLetourneau" target="_blank" rel="noreferrer noopener"
    class="header__links">
    <img src="assets/gitHub.png" alt="GitHub's icon" />
  </a>
  <!-- IMPLEMENTATION IN THE FUTURE
<button>En</button> 
-->
</header>
