<header class="header conteneur">
  <h1>Gabriel Chouinard Létourneau <span>/ Développeur Web</span></h1>
  <a href="https://www.linkedin.com/in/gabriel-chouinard-l%C3%A9tourneau-b35847149/" target="_blank" rel="noreferrer noopener" class="header__links">
    <img src="assets/linkedIn.png" alt="LinkedIn's icon" />
  </a>

  <a href="https://github.com/GabrielChouinardLetourneau" target="_blank" rel="noreferrer noopener" class="header__links">
    <img src="assets/gitHub.png" alt="GitHub's icon" />
  </a>
  <!-- IMPLEMENTATION IN THE FUTURE
<button>En</button> 
-->
</header>
