<footer class="footer" #footer>
  <div class="footer__firstRow conteneur">
    <p>Intéressé?<br/>Contacter moi!</p>
  </div>
  <div class="footer__secondRow conteneur">
    <a href="https://www.linkedin.com/in/gabriel-chouinard-l%C3%A9tourneau-b35847149/" target="_blank" rel="noreferrer noopener" class="footer__secondRowBtn">
      Via LinkedIn <img src="assets/linkedIn.png" alt="LinkedIn's icon" />
    </a>
    <a (click)="contactCourriel()" target="_blank" rel="noreferrer noopener" class="footer__secondRowBtn">
      Via courriel<img src="assets/mail.svg" alt="Mail's icon" />
    </a>
  </div>
  <small>Gabriel Chouinard Létourneau | 2020 © Tous droits réservés</small>
</footer>
