/**
 * @author Élody Levasseur-Côté <elodylevasseurcote@hotmail.com>
 * @team les_stitchs
 * @todo ADAPTER ce fichier selon le projet
**/

/**
 * --------------------------------------------------------
 * TABLE DES MATIÈRES - Typographie responsive (Mobile First)
 * --------------------------------------------------------
 * Base décimale
 * Hiérarchie responsive
 */



/** Base décimale **/
html{
  font-size: 62.5%;
}
body {
  /* 16px pour toutes les largeurs d'écran */
  @include fontSize(16px);
  /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
  line-height: 1.375;
  font-family: $policeCorps;
}
@media (min-width: $tablettePortrait) {
  body {
    line-height: 1.5;
  }
}
@media (min-width: $desktop) {
  body {
    line-height: 1.75;
  }
}



/** Hiérarchie responsive **/
/*  plus proche = plus petit  &  plus loin = plus grand */

/* TITRES NIVEAU 1 */
h1,
.h1 { /* = 32px */
  @include fontSize(32px);
  font-family: $policeTitres;
  font-weight: bold;
  width: fit-content;
  line-height: 1.5;
}
@media (min-width: $tablettePortrait) {
  h1,
  .h1 { /* = 40px */
    @include fontSize(40px);
  }
}
@media (min-width: $desktop) {
  h1,
  .h1 { /* = 48px */
    @include fontSize(48px);
  }
}


/* TITRES NIVEAU 2 */
h2,
.h2 { /* = 24px */
  @include fontSize(24px);
  font-family: $policeTitres;
  font-weight: bold;
  line-height: 1.5;
  width: fit-content;
  position: relative;
  margin-left: 10px;
}
@media (min-width: $tablettePortrait) {
  h2,
  .h2 { /* = 32px */
    @include fontSize(32px);
  }
}
@media (min-width: $desktop) {
  h2,
  .h2 { /* = 36px */
    @include fontSize(36px);
  }
}


/* TITRES NIVEAU 3 */
h3,
.h3 { /* = 18px */
  @include fontSize(18px);
  font-family: $policeTitres;
}
@media (min-width: $tablettePortrait) {
  h3,
  .h3 {  /* = 24px */
    @include fontSize(24px);
  }
}
@media (min-width: $desktop) {
  h3,
  .h3 { /* = 26px */
    @include fontSize(26px);
  }
}


/* TITRES NIVEAU 4 */
h4,
.h4 { /* = 16px */
  @include fontSize(16px);
  font-family: $policeTitres;
}
@media (min-width: $tablettePortrait) {
  h4,
  .h4 { /* = 18px */
    @include fontSize(18px);
  }
}

@media (min-width: $desktop) {
  h4,
  .h4 { /* = 22px */
    @include fontSize(22px);
  }
}


/*** Styles en lien avec les titres ***/

.lettreBeige {
  color: $beige;
  position: absolute;
  left: -10px;
  top: 0;
  z-index: -1;
  font-size: 40px;
}

.souligneRouge {
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    background-color: #84240C;
    width: 100%;
    height: 8px;
    left: 25px;
    bottom: 2px;
    @media (min-width: $desktop) {
      bottom: 7px;
    }
  }
}