/*
  @author Marie-Li Durand
 */

.pied {
  &__conteneur {
    border-top: 4px solid $rougeVin;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    @media(min-width: $tablette) {
      flex-direction: row;
      justify-content: space-between;
    }
    &Item {
      list-style: none;
      padding: 24px 0 0 0;
      position: relative;
      margin: 0 auto;
      &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        background-color: $rougeVin;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
          &:after {
            height: 3px;
            width: 100%;
            left: calc(0%);
          }
      }
    }
    &Lien {
      display: block;
      width: 100%;
      text-transform: uppercase;
      font-family: $policeTitres;
      font-weight: 900;
      @include fontSize(15px);
      @media(min-width: 1000px) {
        @include fontSize(18px);
      }
      color: #000000;
      &:hover {
        background-color: transparent;
        color: #000;
      }
    }
  }
  &__deuxiemeRangee {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    @media(min-width: $tablette) {
      flex-direction: row;
    }
    &Logo {
      background-image: url('../../../ressources/liaisons/images/logo.svg');
      width: 100%;
      background-repeat: no-repeat;
      height: 80px;
      background-position: 50% 0;
      margin: 0 auto;
      &:hover {
        background-image: url('../../../ressources/liaisons/images/logo_hover.svg');
        background-color: transparent;
        transition: background-image .3s linear;
      }
      @media(min-width: $desktop) {
        width: span(4 of 12);
      }
    }
  }
  &__nousJoindre {
    margin-top: 35px;
    @media(min-width: $tablette) {
      width: span(4 of 12);
      margin-top: 0;
    }
  }
  &__nousJoindreTitre {
    font-weight: 800;
    text-align: center;
    @include fontSize(20px);
    @media(min-width: $tablette) {
      margin-top: 0;
    }
  }
  &__nousJoindreLieu {
    display: flex;
    align-items: center;
    justify-content: center;
    &Icone {
      width: 33px;
      height: 33px;
      margin-right: 10px;
    }
  }
  &__nousJoindreTelephone {
    display: flex;
    align-items: center;
    justify-content: center;
    &Icone {
      width: 33px;
      height: 33px;
      margin-right: 10px;
    }
  }
  &__suivezNous {
    margin-top: 30px;
    text-align: center;
    @media(min-width: $tablette) {
      width: span(4 of 12);
      margin-top: 0;
    }
    &Titre {
      font-weight: 800;
      text-align: center;
      @include fontSize(20px);
      @media(min-width: $tablette) {
        margin-top: 0;
      }
    }
    &Icones {
      display: flex;
      justify-content: space-around;
      width: 200px;
      margin: 0 auto;
      text-align: center;
    }
    &Facebook {
      &Icone {
        width: 30px;
        height: 30px;
      }
    }
    &Facebook:hover {
      background-color: transparent;
      transform: scale(1.4);
      transition: all 0.5s;
    }
    &Twitter {
      &Icone {
        width: 30px;  
        height: 30px;
      }
    }
    &Twitter:hover {
      background-color: transparent;
      transform: scale(1.4);
      transition: all 0.5s;
    }
    &Instagram {
      &Icone {
        width: 30px;
        height: 30px;
      }
    }
    &Instagram:hover {
      background-color: transparent;
      transform: scale(1.4);
      transition: all 0.5s;
    }
  }
  &__liens {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
    @media(min-width: $tablette) {
      flex-direction: row;
    }
    &ConditionsUtilisation {
      margin-bottom: 20px;
      @media(min-width: $tablette) {
        width: span(4 of 12);
      }
    }
    &PolitiqueConfidentialite {
      margin-bottom: 20px;
      @media(min-width: $tablette) {
        width: span(4 of 12);
      }
    }
    &PolitiqueRetour {
      @media(min-width: $tablette) {
        width: span(4 of 12);
      }
    }
    & > a {
      color: black;
      height: fit-content;
      &:hover {
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
  &__siteSecurise {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    &Icone {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
  &__credits {
    text-align: center;
  }
}