/* Formulaire livraison */
.livraison {
  padding: 0 10px;
  &Titre.livraisonTitre--cachee {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
  &__nom {
    display: flex;
    flex-direction: column;
    &Conteneur {
      display: flex;
      flex-direction: column;
      position: relative;
      // width: span(3 of 4);
    }
    &Conteneur .elementIconeSucces {
      position: absolute;
      top: 50px;
      left: 105%;
    }
    &Champ {
      height: 44px;
      border: 1px solid $rougeVin;
      border-radius: 5px;
      padding: 0 10px;
      width: 90%;
      &:active {
        border-width: 3px;
      }
      &.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
  }
  &__prenom {
    display: flex;
    flex-direction: column;
    &Conteneur {
      display: flex;
      flex-direction: column;
      position: relative;
      // width: span(3 of 4);
    }
    &Conteneur .elementIconeSucces {
      position: absolute;
      top: 50px;
      left: 105%;
    }
    &Champ {
      height: 44px;
      border: 1px solid $rougeVin;
      border-radius: 5px;
      padding: 0 10px;
      width: 90%;
      &:active {
        border-width: 3px;
      }
      &.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
  }
  &__adresse {
    display: flex;
    flex-direction: column;
    &Conteneur {
      display: flex;
      flex-direction: column;
      position: relative;
      // width: span(3 of 4);
    }
    &Conteneur .elementIconeSucces {
      position: absolute;
      top: 50px;
      left: 105%;
    }
    &Champ {
      height: 44px;
      border: 1px solid $rougeVin;
      border-radius: 5px;
      padding: 0 10px;
      width: 90%;
      &:active {
        border-width: 3px;
      }
      &.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
  }
  &__ville {
    display: flex;
    flex-direction: column;
    &Conteneur {
      display: flex;
      flex-direction: column;
      position: relative;
      // width: span(3 of 4);
    }
    &Conteneur .elementIconeSucces {
      position: absolute;
      top: 50px;
      left: 105%;
    }
    &Champ {
      height: 44px;
      border: 1px solid $rougeVin;
      border-radius: 5px;
      padding: 0 10px;
      width: 90%;
      &:active {
        border-width: 3px;
      }
      &.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
  }
  &__provincesListe {
    position: relative;
    display: block;
    overflow: hidden;
    &Conteneur {
      display: flex;
      flex-direction: column;
      position: relative;
      // width: span(3 of 4);
    }
    &Conteneur .elementIconeSucces {
      position: absolute;
      top: 50px;
      left: 105%;
    }
    &:after {
      position: absolute;
      content: "";
      top: 20px;
      right: 70px;
      width: 10px;
      height: 10px;
      background: url("../../../ressources/liaisons/images/icons/arrowSelect.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__provincesListe select {
    -webkit-appearance: none;
    outline: 0;
    height: 44px;
    color: black;
    cursor: pointer;
    border: 1px solid $rougeVin;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    &.elementErreur {
      border-color: $rouge;
      border-width: 2px;
    }
  }
  &__codePostal {
    display: flex;
    flex-direction: column;
    &Conteneur {
      display: flex;
      flex-direction: column;
      position: relative;
      // width: span(3 of 4);
      & p:last-of-type {
        margin: 0;
      }
    }
    &Conteneur .elementIconeSucces {
      position: absolute;
      top: 50px;
      left: 45%;
    }
    &Textes {
      display: flex;
      align-items: center;
    }
    &Info {
      @include fontSize(14px);
      color: #7E7B7B;
      margin-left: 10px;
    }
    &Champ {
      width: 40%;
      height: 44px;
      border: 1px solid $rougeVin;
      border-radius: 5px;
      padding: 0 10px;
      &:active {
        border-width: 3px;
      }
      &.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
  }
  &__adresseLivraison {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    &Etiquette {
      display: block;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
    }
    &Etiquette input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &Etiquette input:checked ~ span {
      background-color: $rougeVin;
    }
    &Etiquette input:checked ~ span:after {
      display: block;
    }
    &Etiquette span {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 1px solid $rougeVin;
    }
    &Etiquette span:after {
      content: "";
      position: absolute;
      display: none;
    }
    &Etiquette span:after {
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &__utiliserCommeAdresseFacturation {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    &Etiquette {
      display: block;
      position: relative;
      cursor: pointer;
      padding-left: 35px;
    }
    &Champ {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    &ChampPersonnalise {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      border: 1px solid $rougeVin;
      margin-right: 10px;
    }
    &Etiquette input:checked ~ span {
      height: 25px;
      width: 25px;
      background-color: $rougeVin;
    }
    &Etiquette input:checked ~ span:after {
      display: block;
    }
    &Etiquette span:after {
      content: "";
      position: absolute;
      display: none;
    }
    &Etiquette span:after {
      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  &__bouton {
    margin-left: 0;
  }
}

/* Formulaire facturation */
.facturation {
  padding: 0 10px;
  &__informationsPaiement {
    border: 0;
    padding: 0;
    margin-bottom: 30px;
    &Titre {
      margin:0;
    }
    &TypeCarte {
      padding: 0;
      margin: 0;
      border: 0;
      &Liste {
        padding-left: 30px;
      }
      &Item {
        display: flex;
        list-style: none;
        margin-bottom: 15px;
        & > label {
          line-height: 1.2;
        }
      }
      &Item:nth-child(1) {
        justify-content: space-between;
        width: 80px;
        @include fontSize(18px);
      }
      &Item:nth-child(2) {
        flex-direction: column;
      }
      &Contenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 140px;
        @include fontSize(18px);
      }
      &Credit {
        &Choix {
          display: none;
          margin: 10px 0 0 23px;
          &Liste {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 60%;
            padding-left: 0;
          }
          &Item {
            list-style: none;
            height: fit-content;
          }
        }
        &Visa {
          width:90px;
          height: 60px;
        }
        &MasterCard {
          width:90px;
          height: 90px;
        }
        &AmericanExpress {
          width: 90px;
          height: 60px;
        }
      }
    }
    &TypeCarte .erreur {
      display: flex;
      margin-top: -5px;
    }
    &TypeCarte .elementIconeErreur {
      margin-top: -3px;
      margin-right: 6px;
    }
    &Nom {
      &Conteneur {
        display: flex;
        flex-direction: column;
        position: relative;
      }
      &Conteneur .elementIconeSucces {
        position: absolute;
        top: 32px;
        left: 93%;
      }
      &Champ {
        height: 44px;
        padding-left: 10px;
        border: 1px solid $rougeVin;
        border-radius: 5px;
        width: 90%;
      }
      &Champ.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
    &Nom .erreur {
      display: flex;
      margin-top: -10px;
    }
    &Nom .elementIconeErreur {
      margin-right: 6px;
    }
    &Nom .elementMessageErreur {
      padding-top: 5px;
    }
    &NumeroCarte {
      &Conteneur {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 10px;
      }
      &Conteneur .elementIconeCarteCredit {
        position: absolute;
        top: 5px;
        left: 83%;
      }
      &Conteneur .elementIconeCarteCredit svg {
        width: 60px;
        height: 30px;
        margin-top: 25px;
      }
      &Conteneur .elementIconeCarteCredit svg.masterCard {
        height: 60px;
        margin-top: 10px;
      }
      &Conteneur .elementIconeSucces {
        position: absolute;
        top: 32px;
        left: 70%;
      }
      &Champ {
        height: 44px;
        padding-left: 10px;
        border: 1px solid $rougeVin;
        border-radius: 5px;
        width: 65%;
      }
      &Champ.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
    &NumeroCarte .erreur {
      display: flex;
      margin-top: -8px;
    }
    &NumeroCarte .elementIconeErreur {
      margin-top: 6px;
      margin-right: 6px;
    }
    &NumeroCarte .elementMessageErreur {
      padding-top: 10px;
    }
    &CodeSecurite {
      margin-top: 15px;
      &Conteneur {
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
      }
      &Conteneur span {
        position: absolute;
        top: 42px;
        left: 67%;
      }
      &Contenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0;
      }
      &Contenu .elementIconeSucces {
        position: absolute;
        top: 42px;
        left: 90%;
      }
      &Champ {
        width: 60%;
        height: 44px;
        padding-left: 10px;
        border: 1px solid $rougeVin;
        border-radius: 5px;
      }
      &Champ.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
      &Icone {
        width: 24px;
        height: 24px;
      }
    }
    &CodeSecurite .erreur {
      display: flex;
      margin-top: -10px;
    }
    &CodeSecurite .elementIconeErreur {
      margin-top: 7px;
      margin-right: 6px;
    }
    &CodeSecurite .elementMessageErreur {
      padding-top: 10px;
    }
    &DateExpiration{
      margin-top: 20px;
      border: 0;
      padding-left: 0;
      &Info {
        font-style: italic;
        color: #7E7B7B;
        @include fontSize(14px);
      }
      &Conteneur {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 85%;
      }
      &Conteneur .elementIconeSucces {
        position: absolute;
        top: 7px;
        left: 90%;
      }
      &Mois {
        width: 90%;
        &Liste {
          position: relative;
          display: block;
          overflow: hidden;
          width: 72%;
          @include select;
        }
        &Liste select {
          border-radius: 5px;
        }
        &Liste select.elementErreur {
          border-color: $rouge;
          border-width: 2px;
        }
      }
      &Annee {
        width: 90%;
        &Liste {
          position: relative;
          display: block;
          overflow: hidden;
          width: 72%;
          @include select;
        }
        &Liste select {
          border-radius: 5px;
          width: 100%;
        }
        &Liste select.elementErreur {
          border-color: $rouge;
          border-width: 2px;
        }
      }
    }
    &DateExpiration .erreur {
      display: flex;
      margin-top: 4px;
    }
    &DateExpiration .elementIconeErreur {
      margin-top: 4px;
      margin-right: 6px;
    }
    &DateExpiration .elementMessageErreur {
      padding-top: 10px;
    }
  }
  &__adresseFacturation {
    padding: 0;
    margin: 0 0 30px 0;
    border: 0;
    &Titre {
      margin: 0;
    }
    &Adresse {
      &Conteneur {
        display: flex;
        flex-direction: column;
        position: relative;
      }
      &Conteneur .elementIconeSucces {
        position: absolute;
        top: 32px;
        left: 93%;
      }
      &Champ {
        height: 44px;
        padding-left: 10px;
        border: 1px solid $rougeVin;
        border-radius: 5px;
        width: 90%;
      }
      &Champ.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
    &Adresse .erreur {
      display: flex;
      align-items: center;
      margin-top: -10px;
    }
    &Adresse .elementIconeErreur {
      margin-right: 6px;
    }
    &Ville {
      &Conteneur {
        display: flex;
        flex-direction: column;
        position: relative;
      }
      &Conteneur .elementIconeSucces {
        position: absolute;
        top: 32px;
        left: 93%;
      }
      &Champ {
        height: 44px;
        padding-left: 10px;
        border: 1px solid $rougeVin;
        border-radius: 5px;
        width: 90%;
      }
      &Champ.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
    &Ville .erreur {
      display: flex;
      align-items: center;
      margin-top: -10px;
    }
    &Ville .elementIconeErreur {
      margin: 0 6px auto 0
    }
    &Province {
      width: 100%;
      margin-top: 20px;
      &Liste {
        position: relative;
        display: block;
        @include select;
        &:after {
          right: 70px;
        }
      }
      &Liste > select {
        border-radius: 5px;
        width: 90%;
      }
      &Liste > select.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
      &Liste .elementIconeSucces {
        position: absolute;
        top: 10px;
        left: 93%;
      }
    }
    &Province .erreur {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
    &Province .elementIconeErreur {
      margin-right: 6px;
    }
    &CodePostal {
      &Conteneur {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
      }
      &Conteneur .elementIconeSucces {
        position: absolute;
        top: 30px;
        left: 33%;
      }
      &Info {
        @include fontSize(14px);
        color: #7E7B7B;
        margin-left: 10px;
      }
      &Champ {
        width: 29%;
        height: 44px;
        padding-left: 10px;
        border: 1px solid $rougeVin;
        border-radius: 5px;
      }
      &Champ.elementErreur {
        border-color: $rouge;
        border-width: 2px;
      }
    }
    &CodePostal .erreur {
      display: flex;
      align-items: center;
      margin-top: -10px;
    }
    &CodePostal .elementIconeErreur {
      margin: 0 6px auto 0
    }
  }
  &__adresseFacturationStatique {
    position: relative;
    border: 1px solid $rougeVin;
    background-color: #FAF6F1;
    margin-bottom: 40px;
    &Titre {
      position: absolute;
      margin: 0;
      top: 5px;
    }
    &Contenu {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
  }
  &__informationsContact {
    position: relative;
    padding: 10px;
    margin: 0;
    background-color: #FAF6F1;
    border: 1px solid $rougeVin;
    margin-bottom: 40px;
    &Titre {
      position: absolute;
      margin: 0;
      top: 5px;
    }
    &Texte {
      margin-top: 40px;
    }
    &Courriel {
      font-weight: 800;
    }
    &Telephone {
      font-weight: 800;
    }
  }
  &__bouton {
    margin-left: 0;
  }
}

/* Formulaire validation */
.validation {
  padding: 0 10px;
  &__sommaireCommande {
    background-color: #FAF6F1;
    border: 1px solid $rougeVin;
    margin-bottom: 30px;
    padding: 10px;
    &Titre {
      margin: 0 0 10px 0;
    }
    &AvantTotal {
      border-bottom: 1px solid $rougeVin;
      padding-bottom: 10px;
    }
    &SousTotal {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      width: span(3 of 4);
    }
    &Tps {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      width: span(3 of 4);
    }
    &ModeLivraison {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      width: span(3 of 4);
    }
    &Total {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      width: span(3 of 4);
      padding-top: 10px;

    }
  }
  &__adresseLivraison {
    background-color: #FAF6F1;
    border: 1px solid $rougeVin;
    margin-bottom: 30px;
    padding: 10px;
    &Titre {
      margin: 0 0 10px 0;
    }
    &Conteneur {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
    }
    &Contenu {
      display: flex;
      flex-direction: column;
      &Bouton {
        height: fit-content;
        margin: auto 0 0;
      }
    }
  }
  &__informationsFacturation {
    background-color: #FAF6F1;
    border: 1px solid $rougeVin;
    margin-bottom: 30px;
    padding: 10px;
    &Titre {
      margin: 0 0 10px 0;
    }
    &Paiement {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $rougeVin;
      padding-bottom: 20px;
      padding-top: 10px;
      &Bouton {
        height: fit-content;
        margin: auto 0 0;
      }
    }
    &ModePaiement {
      font-weight: 800;
      margin: 0 0 10px 0;
    }
    &Carte {
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
      &Icone {
        width: 50px;
        height: 40px;
      }
      &Numero {
        margin-left: 10px;
      }
    }
    &DateExpiration {
      margin: 0 0 10px 0;
    }
    &AdresseFacturation {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      border-bottom: 1px solid $rougeVin;
      padding-bottom: 20px;
      &Titre {
        margin: 0 0 10px 0 ;
        font-weight: 800;
      }
      &Contenu {
        display: flex;
        flex-direction: column;
      }
      &Bouton {
        height: fit-content;
        margin: auto 0 0;
      }
    }
    &Informations {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      &Bouton {
        height: fit-content;
        margin: auto 0 0;
      }
    }
  }
  &__panier {
    &MessageLivraison {
      display: block;
      width: 100%;
      border-top: 1px solid $rougeVin;
      border-bottom: 1px solid $rougeVin;
      padding: 10px 0;
      text-align: center;
      margin-bottom: 20px;
      @include fontSize(20px);
      &EnGras {
        font-weight: 800;
        text-transform: uppercase;
        color: $rougeVin;
        @include fontSize(24px);
      }
    }
    &Titre {
      margin: 0 0 20px 0;
    }
    &SousTotal {
      width: 100%;
      background-color: #FAF6F1;
      border: 1px solid $rougeVin;
      margin-bottom: 30px;
      padding: 20px;
      height: fit-content;
      &Contenu {
        display: flex;
        justify-content: space-between;
        font-weight: 800;
      }
      &Bouton {
        width: 100%;
      }
    }
    &Article {
      border-bottom: 1px solid $rougeVin;
      padding: 20px 0;
    }
    //&Article:last-child {
    //  border-bottom: 0;
    //}
    &Article:nth-of-type(2) {
      border-bottom: 0;
    }
    &Conteneur {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    &InfosLivres {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      width: 100%;
      &Titre {
        font-weight: 800;
        @include fontSize(18px);
      }
      &Image {
        height: fit-content;
      }
      &Auteurs {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        &Item {
          list-style: none;
        }
      }
      &Prix {
        @include fontSize(20px);
      }
      &QuantiteFormulaire {
       // width: 45%;
        width: 150px;
      }
      &QuantiteConteneur {
        display: flex;
        align-items: center;
        justify-content:space-between;
      }
      &QuantiteListe {
        position: relative;
        display: block;
        width: 40%;
        @include select;
        &:after {
          top: 10px;
          right: 25%;
        }
      }
      &QuantiteListe select {
        width: 90%;
        height: fit-content;
      }
      &QuantiteBouton {
        width: 220px;
        margin-top: 20px;
      }
      &Supprimer {
        width: 220px;
        margin: 0;
        margin-top: 10px;
      }
      &SousTotal {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        &Etiquette {
          width: 75%;
          text-align: right;
        }
      }
    }
    &Facture {
      margin-bottom: 20px;
      height: fit-content;
      border-top: 2px solid $rougeVin;
      padding-top: 30px;
      margin-top: 30px;
      margin-left: auto;
      &SousTotal {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        &Etiquette {
         width: 60%;
          text-align: right;
        }
        &Prix {
          width: fit-content;
        }
      }
      &Tps {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        &Etiquette {
          width: 60%;
          text-align: right;
        }
        &Prix {
          width: fit-content;
        }
      }
      &ModeLivraison {
        &Prix {
          display: flex;
          justify-content: space-between;
          padding-bottom: 5px;
          &Etiquette {
            width: 60%;
            text-align: right;
          }
          &Taxe {
            width: fit-content;
          }
          &Bouton {

          }
        }
        &Formulaire {
          margin: 0;
        }
        &Liste {
          position: relative;
          display: block;
          width: 60%;
          padding-bottom: 10px;
          @include select;
          &:after {
            top: 15px;
            right: 10%;
          }
        }
        &Liste select {
          height: fit-content;
          padding: 5px;
        }
        &Date {
          display: block;
          width: 60%;
          text-align: right;
          padding-bottom: 20px;
          margin-top: 10px;
        }
        &Bouton {
          width: 60%;
          padding: 10px 15px;
          margin-top: 10px;
        }
      }
      &Total {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $rougeVin;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 800;
        @include fontSize(22px);
        &Etiquette {
          width: 60%;
          text-align: right;
        }
        &Prix {
          width: fit-content;
        }
      }
      &Actions {
        display: flex;
        flex-direction: column;
        &PasserCommandeBouton {
          width: 100%;
          height: 45px;
        }
        &ContinuerMagasiner {
          width: 100%;
          display: block;
          text-align: center;
        }
      }
    }
  }
}
.validation .panier__infosLivresContenu {
  border-bottom: 1px solid $rougeVin;
  width: 100%;
  &:last-of-type {
    border: 0;
  }
  &Livre {
    width: 100%;
  }
}

.validation .panier__infosLivresContenuAutresBouton {
  left: 100px;
  bottom: -65px;
  width: 200px;
}
.validation .panier__infosLivresContenuAutresPrix {
  margin-top: 5px;
  @media(min-width: $desktop) {
    @include fontSize(20px);
  }
}
.validation .panier__infosLivresContenuPrixQuantite {
  margin-top: 5px;
}
.validation .panier__infosLivresContenuLivreTextesAuteurs {
  margin-top: 5px;
}
.validation .panier__infosLivresContenuFormulaireQuantite {
  width: 140px;
}
.validation .panier__infosLivresContenuSupprimer {
  margin-left: 100px;
}

@media (min-width: $desktop) {
  .facturation, 
  .livraison,
  .validation {
    width: span(6 of 12);
    margin: 0 auto;
  }
}

.iconeErreur, .iconeSucces {
  width: 24px;
  height: 24px;
}

.erreur {
  margin: 0;
  color: $rouge;
}

.erreurMargin {
  margin: unset;
}

.facturation__informationsPaiementTypeCarteCreditChoix.affiché {
  display: block;
}

.js .panier__infosLivresContenuAutresBouton {
  display: none;
}

//.js .panier__infosLivresContenuSupprimer {
//  bottom: 0;
//  margin-left: 0;
//  margin-top: 30px;
//  @media(min-width: $tablette) {
//    margin-top: 0;
//    margin-left: auto;
//  }
//}
.js .validation__panierFactureModeLivraisonBouton {
  display: none;
}

.js .validation__panierInfosLivresQuantiteBouton {
  display: none;
}

.js .validation__panierFactureRecalculer {
  display: none;
}

.modeLivraisonListe option[value="gratuit"].cache {
  display: none;
}

.radioLabel {
  position: relative;
}

.radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: -30px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio:checked ~ .checkmark, .radio:focus ~ .checkmark, .radio:active ~ .checkmark {
  background-color: $rougeVin;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio:checked ~ .checkmark:after, .radio:focus ~ .checkmark:after, .radio:active ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  top: 7px;
  left: 7px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: white;
}