/**
 * @author Élody Levasseur-Côté <elodylevasseurcote@hotmail.com>
 * @team les_stitchs
**/

/** Styles de l'accueil **/
.accueil {
  /** Styles de la bannière **/
  &__banniere {
    background-color: $rougeVin;
    padding: 10px;
    margin-top: 50px;
    &Cadre {
      border: 2px solid #ffffff;
      padding: 25px;
      & > p {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 2px;
      }
      &Rabais {
        @include fontSize(32px);
        font-weight: normal;
      }
    }
  }
  /** Styles des coups de coeur **/
  &__coupDeCoeur {
    margin: 50px 10px;
    &Livre {
      background-color: $grisMoyen;
      clip-path: polygon(100% 0, 100% 85%, 140px 100%, 0 100%, 0 0);
      display: flex;
      padding: 10px;
      margin: 10px 0;
      &Titre {
        margin: 0;
        line-height: 1.2;
      }
      &Img {
        width: 130px;
        height: 100%;
        margin: auto 10px auto 0;
      }
      &Auteur {
        font-style: italic;
        margin: 5px 0;
      }
      &Cote {
        & > .iconeReview {
          width: 115px;
          height: 25px;
        }
      }
      &Prix {
        margin: 5px 0;
        &Rabais,
        &Normal {
          margin: 5px 2px;
          display: inline-block;
        }
        &Rabais {
          color: $rougeOrange;
          font-weight: bold;
          @include fontSize(18px);
        }
        &Normal {
          text-decoration: line-through $rougeVin;
        }
      }
    }
    &Lien {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
    /** Styles des nouveautés **/
  &__nouveautes {
    margin: 50px 10px;
    &:before {
      content: ' ';
      background-color: $beige;
      display: block;
      width: 100vw;
      height: 175px;
      position: absolute;
      margin: 75px 0;
      z-index: -1;
      left: 0;
    }
    &Caroussel {
      // width: 75%;
      // margin: 0 auto;
      &Lien {
        color: black;
        height: fit-content;
        &:hover {
          color: black;
        }
      }
      &Livre {
        text-align: center;
        margin: 0 auto;
        &Img {
          width: 130px;
          margin: 0 auto;
        }
        &Titre {
          margin: 0;
        }
        &Auteur {
          font-style: italic;
          margin: 5px 0;
        }
        &Cote {
          & > .iconeReview {
            width: 115px;
            height: 25px;
          }
        }
      }
    }
  }
  /** Styles des actualités littéraires **/
  &__actualitesLitteraires {
    margin: 50px 10px;
    &Livre {
      &Mobile {
        margin: 20px 0;
        position: relative;
        &DateImg {
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
        }
        &Info {
          background-color: $beige;
          clip-path: polygon(100% 0, 100% 0%, 85% 100%, 0 100%, 0 0);
          width: fit-content;
          display: inline-block;
          vertical-align: top;
          height: fit-content;
          & > div {
            padding: 10px;
            background-color: $beigePale;
            clip-path: polygon(100% 0, 100% 0%, 85% 100%, 0 100%, 0 0);
            margin: 2px;
          }
          &Date {
            background-color: black;
            width: fit-content;
            height: fit-content;
            clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
            padding: 2px;
            & > p {
              margin: 0;
              background-color: $beigePale;
              padding: 5px 19px 5px 5px;
              clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
            }
          }
          &Auteur {
            width: 80%;
            font-style: italic;
            margin: 10px 0;
          }
        }
        &Img {
          clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
          max-width: 200px;
          width: 50%;
          height: 100%;
        }
        &Texte {
          background-color: $beigePale;
          padding: 10px;
          border: $beige 2px solid;
        }
        &Description {
          margin-bottom: 55px;
        }
        &Btn {
          position: absolute;
          right: 10px;
          bottom: 15px;
        }
      }
    }
    &Btn {
      margin: 50px auto;
    }
  }
  &__prefooter {
    display: none;
  }
}

/** Styles de la page erreur 404 **/
.erreur404 {
  &__icon {
    margin: 0 20px;
  }
  &__para {
    text-align: center;
    font-family: $policeTitres;
    @include fontSize(22px);
  }
  &__btns {
    & > * {
      margin: 10px auto;
      display: block;
    }
  }
}

.confirmation {
  &__commandeRecu {
    margin: 0 20px;
    &Icon {
      width: 40px;
      height: 40px;
    }
    & > p {
      display: inline;
      @include fontSize(22px);  
    }
  }
  &__messages {
    margin: 0 20px;
    & > p:nth-child(2) {
      font-weight: bold;
    }
  }
  &__sommaireCommande,
  &__adresseFacturation,
  &__adresseLivraison,
  &__informationsFacturation,
  &__rappelArticles {
    background-color: #FAF6F1;
    border: 1px solid $rougeVin;
    padding: 10px 20px;
    margin: 10px 0;
    &Titre {
      margin: 5px 0;
    }
    &Carte {
      &Icone {
        width: 40px;
        height: 25px;
      }
    }
  }
  &__adresseFacturation,
  &__adresseLivraison {
      &Contenu > * {
        display: block;
      }
    } 
  &__rappelArticles {
    &Item {
      display: flex;
      border-bottom: 1px solid lightgray;
      padding: 20px 0;
      &:last-child {
        border-bottom: none; 
      }
      &Infos {
        margin: 0 10px;
        &Titre {
          font-weight: bold;
        }
        & > * {
          margin: 5px 0;
        }
      }
      &Prix {
        font-weight: bold;
      }
      &Quantite {
        & > select {
          width: 32px;
        }
      }
    }
  }
  &__prix {
    float: right;
  }
  &__adresse {
    &Livraison {
      &Contenu {
        & > span {
          display: block;
        }
      }
    }
  }
  &__lien {
    display: block;
    margin: 10px auto;
    width: fit-content;
  }
}

/** Styles de l'accueil en desktop **/
@media (min-width: $desktop) {
  .accueil {
    &__coupDeCoeur {
      margin: 100px 0;
      &Conteneur {
        display: flex;
        flex-wrap: wrap;
      }
      &Lien {
        width: span(6 of 12);
        &:nth-child(2n) {
          margin-left: gutter(1 of 12);
        }
        &:hover {
          color: black;
          @include dropShadow;
          background-color: transparent;
          transition: 300ms filter;
        }
      }
    }
    &__nouveautes {
      margin: 100px 0;
      &:before {
        height: 225px;
      }
      &Caroussel {
        &Lien {
          width: span(3 of 10);
          border: 1px solid transparent;
          padding: 10px;
          transition: all 300ms ease-in-out;
          &:hover {
            color: black;
            background-color: transparent;
            @include dropShadow;
            transition: all 500ms ease-in-out;
            margin-top: -20px;
          }
        }
      }
    }
    &__actualitesLitteraires {
      margin: 100px 0;
      &Livre {
        &Desktop {
          display: flex;
          width: span(10 of 12);
          position: relative;
          margin: 20px 0;
          &:nth-child(2n) {
            margin-left: span(2 of 12) + gutter(1 of 12);
          }
          &Date {
            background-color: black;
            padding: 2px;
            width: fit-content;
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            & > p {
              margin: 0;
              background-color: $beigePale;
              padding: 5px 30px 5px 5px;
              clip-path: polygon(0 0, 99% 0, 85% 100%, 0% 100%);
            }
          }
          &Texte {  
            width: span(8 of 10);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
            background-color: $beige;
            & > div {
              padding: 10px;
              background-color: $beigePale; 
              clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
              margin: 2px;
            }
          }
          &Titre {
            margin: 0;
          }
          &Auteur {
            margin: 0;
            font-style: italic;
          }
          &Description {
            width: 85%;
          }
          &Img {
            width: 200px;
            clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
          }
          &Btn {
            position: absolute;
            bottom: 10px;
            right: 122px;
          }
        }
      }
    }
    &__prefooter {
      display: flex;
      justify-content: space-around;
      margin: 50px 0 0 0;  
      border-top: 2px solid $grisMoyen;
      border-bottom: 2px solid $grisMoyen;
      padding: 10px 0;
      &Section {
        &Lien {
          display: block;
          color: black;
          & > .iconeJoin, .iconeDelivery, .iconeCommunity {
            width: 30px;
            height: 30px;
            margin: 0 auto;
            display: block;
          }
          &:hover {
            background-color: transparent;
            transform: scale(1.1);
            transition: all 250ms ease-in-out;
            color: black;
          }
          & > p {
            text-align: center;
            color: black;
            margin: 0;
          }
        }
      }
      & > hr {
        width: 2px;
        margin: 0;
        height: 68px;
        background-color: $grisMoyen;
        border: none;
      }
    }
  }
  .erreur404 {
    &__icon {
      width: span(6 of 12);
      margin: 0 auto;
      display: block;
    }
    &__para {
      @include fontSize(28px);
      width: span(8 of 12);
      margin: 20px auto;
    }
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      & > * {
        margin: 0 10px;
      }
    }
  }
  .confirmation {
    width: span(6 of 12);
    margin: 0 auto;
  }
}

.nojs .accueil__nouveautesCaroussel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &Lien {
    width: 100%;
  }
}

@media (min-width: $desktop) {
  .nojs .accueil__nouveautesCaroussel {
    &Lien {
      width: calc(100% / 2);
    }
  }
}

@media (min-width: $tablettePortrait) {
  .nojs .accueil__nouveautesCaroussel {
    &Lien {
      width: calc(100% / 3);
    }
  }
}

.succes {
  display: none;
}

.ok-afficher > .succes {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media print {
  .lettreBeige {
    display: none;
  }
  .confirmation {
    &__adresse {
      display: flex;
      width: 100%;
      &Livraison,
      &Facturation {
        width: 48%;
        &:first-child {
          margin-right: 4%;
        }
      }
    }
  }
  .boutonOrangePrincipal, 
  .confirmation__lien,
  .pied__conteneur {
    display: none;
  }
}