/**
 * @author Gabriel Chouinard Létourneau <chouinardletourneaug@gmail.com>
 * @team les_stitchs
 * @todo styles du catalogue pour le mandat B
**/
/*_______Champ de recherche resultats_______*/
.entete__rechercheSaisie {
    position: relative;
}

.zoneResultatsRecherche {
    position: absolute;
    background-color: #fff;
    top: 144px;
    height: 150px;
    overflow: scroll;
    z-index: 1;
    ul {
        list-style: none;
        padding: 10px;
    }
}

/*_______Pagination_______*/
.pagination {
    @include fontSize(22px);
    text-align: center;
    margin: 30px 10px 40px;
    &__page {
        color: #000;
        &:hover {
            transition: .3s all ease-in-out;
            transform: scale(1.1);
        }
        &Active {
            background: url("../../../ressources/liaisons/images/icons/pageSelected.svg") no-repeat;
            background-size: cover;
            padding: 5px;
            width: 45px;
            height: 45px;
            display: inline-block;
            @media (min-width: $tablette) {
                width: 50px;
                height: 50px;
            }
        }
    }
    &__arrow, &__doubleArrow {
        &:hover {
            background-color: unset;
            .pagination__arrowIcon, .pagination__doubleArrowIcon { 
                transform: scale(1.2);
            }

        }
    }
    &__arrowIcon, &__doubleArrowIcon {
        width: 20px;
        height: 20px;
        transition: .3s all ease-in-out;
        @media (min-width: $tablette) {
            width: 16px;
            height: 16px;
        }
        &--inactif {
            filter: grayscale(1) brightness(1.15);
        }
    }
}

/*_______Catalogue_______*/
.catalogue {
    &__titre {
        margin: 4rem 1.5rem 4rem 5%;
        @media (min-width: $tablette) {
            margin-left: 1.5rem;
        }
        &::after {
            width: 90%;
        }
        .lettreBeige {
            @include fontSize(32px);
            top: 5px;
            left: -10px;
            @media (min-width: $tablette) {
                @include fontSize(50px);                
            }
        }
    }
    &__interactions {
        @media (min-width: $tablette) {
            width: span(9 of 9);
        }
        &FirstRow {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media (min-width: $tablette) {
                justify-content: space-between; 
            }
            .catalogue__tri {
                @media (min-width: $tablette) {
                width: span(4 of 9);
                }
            }
            .pagination {
                @media (min-width: $tablette) {
                margin: auto 0;
                }
            }
        }
        &SecondRow {
            display: flex;
            justify-content: flex-end;
            .catalogue__affichage {
                @media (min-width: $tablette) {
                    display: flex;
                }
            }
        }
        a {
            @media (min-width: $tablette) {
                margin: auto 0;                    
            }
        }
    }
    &__tri {
        width: span(3 of 4);
        padding-left: 5%;
        margin-right: gutter(1 of 4);
        @media (min-width: $tablette) {
            width: unset;
            margin-left: unset;
        }
        &ParentRelative {
            position: relative;
            display: unset;
            &:after {
                position: absolute;
                content: "";
                top: 9px;
                right: 15px;
                width: 10px;
                height: 10px;
                background: url(../../../ressources/liaisons/images/icons/arrowSelect.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &Label {
            display: block;
            @media (min-width: $tablette) {
                display: inline-block;
            }
        }
        &Select {
            -webkit-appearance: none;
            outline: 0;
            border-radius: 0;
            border: 0;
            width: 50%;
            border-radius: 0;
            border: 1px solid #000;
            padding: 1rem 1.5rem;
        }
        .boutonOrangePrincipal {
            display: inline-block;
        }
    }
    &__affichage {
        display: none;
        a {
            transition: .3s all ease-in-out;
            &:hover {
                background-color: unset;
                transform: scale(1.1);
            }
        }
        &List {
            width: 4rem;
            height: 4rem;
            margin-right: 5px; 
        }
        &Grid {
            width: 3.5rem;
            height: 3.5rem;
        }
        @media (min-width: $tablette){
            display: unset;
        }
    }
    &__contenu {
        @media (min-width: $tablette) {
            display: flex;
        }
    }
    &__conteneur {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $tablette) {
            width: span(9 of 12);
            margin-left: gutter(3 of 12);
            float: right;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__livre {
        background-color: #f8f8f8;
        transition: .3s all ease-in-out;
        &:hover, &:active {
            @include dropShadow;
        }
        a {
            color: #000;
            &:hover, &:active {
                color: unset;
                background-color: unset;
            }
        }
        &Titre {
            font-family: $policeTitres;
            @include fontSize(20px);
            font-weight: bold;
            margin: 10px 8px 2px;
        }
        &Auteurs {
            list-style: none;
            padding-left: 0;
        }
        &Critique {
            width: 120px;
            height: 20px;
        }
        &Bloc {
        width: 220px;
        text-align: center;
        margin: 20px auto;
        @media (min-width: $tablette) {
            width: span(3 of 9);
            min-height: 600px;
            margin-right: gutter(3 of 9);
        }
        &Img {
            width: 130px;
        }
        &:nth-of-type(3), &:nth-of-type(6), &:nth-of-type(9) {
            @media (min-width: $tablette) {
                margin-right: 0;
            }
        }  
            &Titre {

            }
        }
        &Liste {
            width: 700px;
        }
    }
    &__categories {
        &Btn {
            color: #000;
            display: inline-block;
            width: 100%;
            &--actif {
                font-weight: bold;
                border-left: $rougeOrange 5px solid;
            }
        }
        &Titre {
            margin-top: 0;
        }
        &Desktop {
            display: none;
            @media (min-width: $tablette) {
                display: unset;
                width: span(3 of 12);
            }
        }
        &Mobile {
            display: unset;
            @media (min-width: $tablette) {
                display: none;
            }
            p {
                margin: 0;
                line-height: 0.7;
            }
            &Btn {
                &Open { 
                    display: none;
                }
                &Closed {
                    padding: 50% 0;
                }
            }
            &Contenu {
                display: none;
            }
            &Icon {
                width: 22px;
                height: 22px;
            }
        }
    }
}