/**
 * @author Élody Levasseur-Côté <elodylevasseurcote@hotmail.com>
 * @team les_stitchs
 * @todo créer les bonnes variables pour les boutons
**/


/** Liens **/
a{
  color: $rougeOrange;
  text-decoration: none;
  transition: background-color 0.3s;
  padding: 5px;
  &:hover, &:active{
    background-color: $rougeVin;
    color: white;
  }
}

/** Boutons **/
.boutonOrangePrincipal {
  background-color: $orange;
  font-weight: 500;
  padding: 1rem 2rem 1rem 2rem;
  transition: background-color 0.3s;
  text-align: center;
  margin: 30px auto;
  border: none;
  display: block;
  width: fit-content;
  color: black;
  &:hover, &:active{
    background-color: $orangePale;
    color: black;
    transition: 0.5s;
  }
}

.boutonOrangeSecondaire {
  background-color: transparent;
  font-weight: 500;
  border: $orange solid 1.5px;
  padding: 1rem 2rem 1rem 2rem;
  transition: background-color 0.3s;
  text-align: center;
  height: 45px;
  margin: 0;
  &:hover, &:active{
    background-color: $orangePale;
    color: black;
    transition: 0.5s;
  }
}


.boutonGris {
  background-color: $gris;
  border: $gris solid 1.5px;
  padding: 1rem 2rem 1rem 2rem;
  transition: background-color 0.3s;
  width: 230px;
  height: 45px;

  &:hover, &:active{
    background-color: $grisMoyen;
  }
}
