.filAriane.table {
  display: none;
  @media(min-width: $tablette) {
    display: block;
  }
}

.filAriane.mobile {
  display: flex;
  @media(min-width: $tablette) {
    display: none;
  }
}

.filAriane {
  margin: 30px 0;
  &Icone {
    width: 24px;
    height: 24px;
  }
  &Titre {
    margin: 0;
  }
}