/**
 * @author Élody Levasseur-Côté <elodylevasseurcote@hotmail.com>
 * @team les_stitchs
 * @todo créer les bonnes variables pour les boutons
**/

form {
  margin: 20px 0;
}

input {
  line-height: 2;
  &:focus {
    border: $rougeVin 3px solid;
  }
}

select {
  background-color: white;
}

.quantiteListe {
  -webkit-appearance: none;
  outline: 0;
  width: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid #530000;
  border-radius: 0;
  padding: 1px 1px 1px 10px;
}

// Formulaire de connexion
.connexion {
  &__formulaire {
    width: calc(100% - 40px);
    margin: 0 20px;
    & > div {
      margin: 10px 0;
      & > label {
        display: inline-block;
      }
      & > input {
        display: inline-block;
        width: calc(100% - 30px);
        border-radius: 5px;
        border: $rougeVin 1px solid;
      }
    } 
    &__motDePasse {
      &__checkbox {
        @include checkbox;
      }
      & > a {
        display: block;
      }
    }
  }
  &__pasDeCompte > * {
    display: inline-block;
  }
}

.creation {
  &__formulaire {
    width: calc(100% - 40px);
    margin: 0 20px;
    & > div {
      margin: 10px 0;
      & > label {
        display: inline-block;
        & > span {
          font-style: oblique;
          @include fontSize(14px);
          color: $grisTresFonce;
        }
      }
      & > input {
        display: inline-block;
        width: calc(100% - 30px);
        border-radius: 5px;
        border: $rougeVin 1px solid;
      }
    }
    &__motDePasse {
      &__checkbox {
        @include checkbox;
      }
      & > a {
        display: block;
      }
    }
  }
  &__dejaCompte > * {
    display: inline-block;
  }
}

@media (min-width: $desktop) {
  .connexion,
  .creation {
    &__formulaire {
      width: span(6 of 12);
      margin: 0 auto;
    }
  }
} 

/* Styles des messages d'erreur */
.erreur__message {
  color: $rouge;
  line-height: 1.5;
  display: none;
  &:before {
    content: ' ';
    background-image: url("../../../ressources/liaisons/images/icons/danger.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  } 
}