<div class="introduction conteneur">
 <div class="introduction__texte">
    <p>Avide de nouvelles technologies, je cherche à me spécialiser en JavaScript, principalement dans les <span class="introduction__texte--i">Frameworks</span> comme Angular, qui est principalement l'une de mes prioritées du moment. Les technologies <span class="introduction__texte--i">Front-End</span> ne sont pas mon seul intérêt. En effet, NodeJS, MangoDB et Django font aussi parties des technologies qui m'intéresse présentement ou à long terme</p>

    <p>Apprendre, comprendre et explorer font parties de se qui alimente mon amour pour le domaine du développement Web et d'applications.</p>
  </div>
  <div class="introduction__apprentissageEnCours">
      <h2>Apprentissage en cours</h2>
      <div class="introduction__apprentissageEnCoursLogos">
        <img src="assets/angular.png" alt="Logo d'Angular">
        <img src="assets/ionic.png" alt="Logo d'Ionic">
        <img src="assets/nodeExpress.png" alt="Logo de NodeJS & Express">
      </div>
  </div>
</div>