.introduction {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__texte {
    width: span(4);
    @media screen and (min-width: 600px) {
      width: span(6 of 12);
      margin-left: span(1 of 12);
    }
    &--i {
      font-family: 'WorkMedItalic';
    }
  }
  &__apprentissageEnCours {
    text-align: center;
    &Logos {
      @media screen and (min-width: 600px) {
        width: 350px;
      }
      img {
        padding: 10px;
      }
    }
  }
}