<section class="skillsTabs">
  <mat-tab-group mat-align-tabs="center">
    <ng-container *ngFor="let title of titles">
      <mat-tab [label]="title">
        <ng-container *ngFor="let skill of skillsContent[title]">
          <a [href]=skill.UrlPathDocs class="skillsTabs__hover">
            <img [ngClass]="{
              'skillsTabs__logos--larger': skill.Tech === 'laravel' || skill.Tech === 'phpMyAdmin'
            }" [src]=skill.ImagePath [alt]=skill.DescriptionAlt class="skillsTabs__logos" />
          </a>
        </ng-container>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</section>
