.skillsTabs {
  height: 300px;
  margin-bottom: 30px;
  &__hover {
    &:hover {
      .skillsTabs__logos {
        transform: scale(1.2);
      }
    }
  }
  &__logos {
    transition: .3s all ease-in-out;
    width: 68px;
    margin: 30px;
    &--larger {
      width: 95px;
    }
  }

  mat-tab-body {
    height: 300px;
    text-align: center;
  }
}