.moreAbout {
  margin-bottom: 50px;

  margin-bottom: 400px;

  &__titre {
    width: 100%;
    margin-top: 50px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 601px) {
      flex-direction: row;
    }
  }

  &__presentation {
    width: span(4);

    @media screen and (min-width: 601px) {
      width: span(4 of 12);
    }
  }

  &__text {
    width: span(4);
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 601px) {
      width: span(8 of 12);
    }

    &Intro {
      width: span(4);

      @media screen and (min-width: 601px) {
        width: span(6 of 8);
        margin-right: span(2 of 8) + gutter(8);
      }
    }

    &Lists {
      width: span(4);

      @media screen and (min-width: 601px) {
        width: span(4 of 8);
      }

      &Item {
  
        @media screen and (min-width: 601px) {
          margin-left: span(2 of 8);
        }

        img {
          width: 30px;
          vertical-align: middle;
          margin-left: 5px;
        }
      }
    }

    &Experiences {
      &List {
        @media screen and (min-width: 601px) {
          margin-left: span(2 of 8);
        }
      }
    }
  }
}
