.realisations {
  &__container {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 601px) {
      justify-content: space-between;
    }
  }

  &__items {
    margin: 20px auto;
    color: #fff;
    transition: .3s all ease-in-out;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    img {
      display: block;
    }
    @media screen and (min-width: 601px) {
      width: span(4 of 12);
      &:hover {
        img {
          transition: .5s all ease-in-out;
          filter: blur(10px);
        }
        .realisations__itemsHover {
          background-color: rgba(0, 0, 0, 0.600);
          &Titre {
            opacity: 1;
          }
        }
      }
    }

    &Hover {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: .5s all ease-in-out;
      overflow: hidden;
      &Titre {
        font-size: 20px;
        transition: .3s all ease-in-out;
        opacity: 0;
        display: flex;
        align-self: center;
      }
    }

    &--last {
      background-color: #4F6395;
      width: span(4 of 4);
      padding: 25% 15%;
      @media screen and (min-width: 601px) {
        width: span(4 of 12);
        padding: unset;
      }
      &Titre {
        font-family: "FiraMed";
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
