/* You can add global styles to this file, and also import other style files */
@import '../node_modules/susy/sass/susy';



@import 'app/app.component.scss';
@import 'app/header/header.component.scss';
@import 'app/footer/footer.component.scss';
@import 'app/home/home.component.scss';
@import 'app/introduction/introduction.component.scss';
@import 'app/more-about-me/more-about-me.component.scss';
@import 'app/not-found/not-found.component.scss';
@import 'app/realisation-index/realisation-index.component.scss';
@import 'app/realisations/realisations.component.scss';
@import 'app/skills-tabs/skills-tabs.component.scss';

// Styles généraux //
.conteneur {
  margin: 0 auto;
  max-width: 1000px;
  @media screen and (max-width: 601px) {
    margin: 0 20px;
  }
}

html,
body {
 height: 100%;
 position: relative;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.line {
  display: inline-block;
  width: 7.5px;
  height: 2px;
  vertical-align: middle;
  margin-right: 10px;
  background-color: #000;
}

.appContainer {
  overflow: hidden;
  position: relative;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "FiraMed";
  src: url("./assets/fontes/FiraCode-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "WorkReg";
  src: url("./assets/fontes/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkItalic";
  src: url("./assets/fontes/WorkSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "WorkMed";
  src: url("./assets/fontes/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "WorkMedItalic";
  src: url("./assets/fontes/WorkSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSemiB";
  src: url("./assets/fontes/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSemiBItalic";
  src: url("./assets/fontes/WorkSans-SemiBoldItalic.ttf") format("truetype");
}

body {
  font-family: "WorkMed";
  font-size: 18px;
}

h1, h2, h3 {
  font-family: "FiraMed";
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}